html,
body,
#root {
  width: 100%;
  max-width: 100%;
}

html,
body {
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
